.edit-container {
    width: max-content;
    height: min-content;
    top: 80px;
    left: 42vw;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 20px;
    transition: all 1s;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
}
/*  */
.edit-container a {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.edit-icon-wrapper {
    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.7vw;
}
.edit-icon-wrapper i{
    font-size: 21px;
    color: var(--dark-blue);
}
p.edit-p {
    font-size: 21px;
    font-weight: 700;
    color: var(--dark-blue);
}