.historybox-container {
    display: flex;
    justify-content: space-between;
    width: 55vw;
    height: 80px;
    overflow: hidden;
    border-radius: 20px;
    background-color: #FFF;
    border: 1px solid black ;
    margin-bottom: 30px;

    &:hover {
        background-color: #3A4D8F;
    }
}

.historybox-content {
    width: 50vw;
    height: 80px;
    display: flex;
    align-items: center;
    padding-left: 55px;
    font-size: 25px;
    font-weight: 550;
    color: black;

    &:hover {
        background-color: #3A4D8F;
        color: #FFF;
    }

}

.delete {
    width: 5vw;
    height: 80px;
    display: flex;
    align-items: center;
    color: black;

    &:hover {
        background-color: #3A4D8F;
        color: #FFF;
    }
}