.login-container {
    width: 700px;
    height: 800px;
    margin: auto;
}

.login-list {
    font-family: 'Pretendard';
    font-size: 25.22px;
    margin-bottom: 5px;
}

.login-input {
    width: 502px;
    height: 63px;
    border-radius: 10.088px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
    font-size: 25.22px;
    padding-left: 20px;
}

.button-container {
    text-align: center;
}

.button-container .login-btn {
    width: 502px;
    height: 57px;
    background-color:  #A1CAFE;
    border-radius: 10.088px;
    border: 1px solid #000000;
    margin-top: 20px;
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 540;
}

.login-btn:hover {
    background-color: #3A4D8F;
    color: #FFFFFF;
}

.button-container p {
    font-size: 18.05px;
    font-weight: 500;
}

.button-container .kakao {
    font-size: 15px;
    margin-top: 7px;
    font-weight: 500;
}

.login-inputbox {
    width: 502px;
    margin: auto;
}

.login-container .text {
    font-family: 'Pretendard';
    font-size: 45px;
    font-weight: 600;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 50px;
}

.button-container .signup-btn {
    width: 502px;
    height: 57px;
    background-color:  #FFFFFF;
    border-radius: 10.088px;
    border: 1px solid #000000;
    margin-top: 50px;
    font-family: 'Pretendard';
    font-size: 23px;
    font-weight: 540;
}

hr {
    color: #F6F6F6;
    border: none;
    height: 50px;
}

