/* 오른쪽-왼쪽 판 설정 */
.container {
    font-family: "Pretendard-Regular";
    /* 메인의 오른쪽과 왼쪽 가로방향 배치 */
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container .right-pane {
    display: flex;
    height: inherit;
    /* header영역 아래 grid-container 쌓이게끔 배치 */
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 0px;
}

.container .right-pane .right-pane-header {
    width: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}


/* 그리드 */
.grid-container {
    height: 80vh;
    font-family: 'Pretendard-Regular';
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 1rem;
    column-gap: 1rem;
}

.input-style {
    font-size: 1rem;
    border: none;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.progress-bar-container-wrapper {
    display: flex;
    flex-direction: column;
    width: min-content;
    align-items: flex-end;
    /* 살짝 아래로 내리기 */
    position: relative;
    top: 45px;
}

.progress-intro-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 23px;
    font-weight: 700;
    line-height: 130%;
}

.progress-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 30vw;
    height: 75px;
    border-radius: 40px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
    padding: 0 10px; 
}

.progress-bar-fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--dark-blue); /* 원하는 색상으로 변경 */
    transition: width 1.5s; /* 부드러운 전환 효과를 위해 */
}

.main-box {
    font-family: 'Pretendard-Bold';
}

.bar-text {
    width: 20%;
    text-align: center;
    font-size: 0.9rem;
    color: #333;
}

.bar {
    width: 605;
    position: relative;
    width: 50%;
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}
  
.percentage {
    width: 10%;
    text-align: center;
}

.progress-bar {
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Pretendard-Regular';
}

.progress-bar p {
    margin-bottom: 10px;
    font-weight: bold;
}