.modal-overlay {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal-overlay.visible {
    display: block;
}

.modal-wrapper {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow: auto;
    outline: 0;
}

.modal-wrapper.visible {
    display: block;
}

.modal-inner {
    box-sizing: border-box;
    position: relative;
    width: 1329px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 40px 20px;
}

.modal-inner2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.close-style {
    display: flex;
    justify-content: space-between;
    background-color: #282828;
    width: 100%;
    height: 100%;
    /* padding: 15px; */
    border-radius: 0 0 15px 15px;
    color: #FFFFFF;
}

.modal-close {
    display: flex;
    justify-content: space-between;
    background-color: #C0C0C0;
    width: 50%;
    padding: 15px;
    border-radius: 0 0 15px 15px;
    color: #ffffff;
}

.start-button {
    width: 166.5px;
    height: 48.34px;
    position: absolute;
    background-color: #3A4D8F;
    color: #FFFFFF;
    font-size: 26.85px;
    font-family: 'Pretendard';
    font-weight: bold;
    border-radius: 10px;
    bottom: 60px;
    right: 60px;
    z-index: 990;
}