@import "reset.css";

body {
  display: flex;
  /* 가로 세로 중앙 정렬 */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* 유저가 텍스트 드래그하는 기능 막기 */
  user-select: none;
  padding: 30px;
}
