@import "reset.css";
/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Russo+One&display=swap');

/* 모든 프론트에서 공통적으로 사용하는 부분만 여기에 작성합니다 */
:root {
  --light-blue: #a1caff;
  --dark-blue: #132666;
  --white: #ffffff;
  --black: #000;
  /* 그리드 안 점선 처리 컬러 */
  --grey: #C0C0C0;
  /* font-family: var(--russo-one), sans-serif; */
  --russo-one: 'Russo One'
}

body {
  display: flex;
  /* 가로 세로 중앙 정렬 */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* 유저가 텍스트 드래그하는 기능 막기 */
  user-select: none;
  padding: 20px;
  background-color: var(--white);
}
#root {
  width: 100%;
  height: 100vh;
}